<!DOCTYPE html>
<html ng-app="eXoApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<script src="script/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<script src="script/main.js"></script>
 	<script src="script/ExoController.js"></script> 

	<title> Tic Tac Toe </title>
</head>

<body ng-controller="ExoController as exCon">
	<!-- table will create the gameboard. it will be 3x3 in size and each cell will be clickable  -->
	<div>
		<table id="gameboard_Id">
			<tr data-ng-repeat="row in exCon.fireGame.board">
				<td data-ng-repeat="cell in row" ng-click="exCon.click($parent.$index, $index)">
					<div>
						<div class="sym" ng-class="cell.eXo">
							
						</div>
					</div>
				</td>
			</tr>
		</table>     
	</div>
	<div class="result" ng-bind="exCon.result"></div>  
	<!-- <div id="startPage">
		<h1>TIC•TAC•TOE</h1>
		<form>
			<div><input class="PLAYA1" type="name" placeholder="Player 1"></div>
			<div><input class="PLAYA2" type="name" placeholder="Player 2"></div>
		</form>
		<p id="cross"> ┼ </p>
	</div> -->


</body>
</html>