<!DOCTYPE html>
<html ng-app="eXoApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="script/angular.js"></script>
 	<script src="script/script.js"></script> 
	
	<title> Tic Tac Toe </title>
</head>
<body ng-controller="ExoController">
	<div >
		<header>
			 
		</header>
	</div>
	<div id="circle"><div id="circle2"></div></div>
	<!-- table will create the gameboard. it will be 3x3 in size and each cell will be clickable  -->
	<div id="gameboard_div">
		<table id="gameboard_Id">
			<tr id="R1">
				<td>
					<div ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
						<p>x</p>
					</div>
				</td>
				<td>
					<div ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>	
				<td>
					<div ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
						
					</div>
				</td>
			</tr>
			<tr id="R2">	
				<td>
					<div id="B1" ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>
				<td>
					<div id="B2" ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>
				<td>
					<div id="B3" ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>
			</tr>	
			<tr id="R3">	
				<td>
					<div id="C1" ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>
				<td>
					<div id="C2" ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>
				<td>
					<div id="C3" ng-click="changeA1()" ng-class="{true: 'A1', false: 'A1X'}[A1XO]">
					</div>
				</td>
			</tr>
		</table>       
	</div>
</body>
</html>